.section-benefits {
  @include bg-image(bottom right, no-repeat, 60%, $white);

  img {
    width: 100%;
  }

  .fa-circle {
    color: $brand-color;
  }

  .box-icon-left {
    margin-bottom: 11px;

    h4 {
      margin-bottom: 11px;
    }

    p {
      padding-left: 79px;
    }

    .fa-stack {
      float: left;
      margin-right: 23px;

      &.fa-2x {
        font-size: 28px;
      }
    }
  }

  .feature-icon {
    @include border-style(#979797, 1px);
    @include prefix(border-radius, 50%, webkit moz);

    background-color: $color-background-icon;
    display: inline-block;
    height: 60px;
    width: 60px;

    i {
      &::before {
        color: $brand-color;
        font-size: 25px;
      }
    }

    img {
      display: block;
      height: 31px;
      margin: 12px auto 0;
      position: relative;
      width: 30px;
    }
  }

  .fas {
    display: block;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .feature-item {
    padding-left: 80px;
  }
}
