.section-contact {

  p {
    font-size: 14px;
  }

  .wpcf7-text {
    height: 56px;
  }

  .btn-lg {
    border-radius: 0;
  }

  .contact-info {
    @include prefix(border-radius, 4px, webkit moz);

    background-color: $color-background-grey;
    height: auto;
    padding: 50px;
    width: 100%;

    .fas {
      color: $brand-color;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        font-size: 26px;
      }
    }
  }
}
